html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body {
  display: flex;
  align-items: center;
}

div { 
  animation-play-state: inherit;
}

#game {
  display: flex;
  flex-direction: column;
  height: 568px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: 10px;
  background-color: magenta;
  padding: 15px 20px;
}

#main {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  width: 100%;
}

#playable-area {
  position: relative;
  width: 75%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: darkblue;
}

#header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
}

#header .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid 1px lightgray; */
}

#header .right-col {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  /* border: solid 1px lightgray; */
}

#logo {
  border-radius: 10px;
  width: 120px;
  height: 80px;
}

#score {
  font-size: 24px;
  font-weight: bolder;
  margin-top: 10px;
}

.progress-bar {
  position: relative;
  width: 80%;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

#health {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: #00ffff;
}

#health-label {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#start-btn {
  font-size: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7df9ff;
  border: solid 1px gray;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 3px 2px #999;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.button:hover {
  background-color: #00ffff;
}

.button:active {
  background-color: #00ffff;
  box-shadow: 0 1px 2px #666;
  transform: translateY(2px);
}

.bubble {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 50%;
  background: white;
  opacity: 95%;
}

@keyframes rise {
  from {
    top: 400px;
  }
  to {
    top: 0px;
  }
}

.bubble-text {
  width: auto;
  height: auto;
  display: inline-block;
}
