html,
body {
	height: 100%;
	margin: 0;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	background-image: url("resources/CheckerBoardSeemlessPattern.svg");
	background-size: 370px;
	background-position: center center;
}

div {
	animation-play-state: inherit;
}

img#soda {
	height: 710px;
	position: absolute;
	top: -33px;
}

#buttons {
	bottom: 0;
	position: absolute;
	right: -20px;
}

#logo {
	height: 100px;
	position: absolute;
	left: 30px;
	top: 4px;
	filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.5));
}

#game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 320px;
	height: 667px;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

#playable-area {
	position: absolute;
	top: 198px;
	width: 210px;
	height: 420px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
}

#score {
	position: absolute;
	top: 98px;
	z-index: 15;
	margin: 0;
	padding: 0 10px;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
	color: #00bfff;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

#health-bar {
	position: absolute;
	z-index: 15;
	top: 135px;
	width: 150px;
	height: 10px;
	border: solid 1px black;
	border-radius: 10px;
	overflow: hidden;
	background-color: black;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

#health {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: red;
}

#level-name {
	position: absolute;
	top: 634px;
	margin: 0;
	padding: 0 10px;
	font-size: 24px;
	text-align: center;
	color: #ff00dd;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

button {
	position: relative;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7df9ff;
	width: 130px;
	height: 54px;
	border: solid 1px gray;
	border-radius: 10px;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin-bottom: 20px;
}

#play-again-btn {
	display: none;
}

#next-level-btn {
	display: none;
}

.title {
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

.button:hover {
	background-color: #00ffff;
}

.button:active {
	background-color: #00ffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	transform: translateY(2px);
}

.bubble {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
		Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border: solid 1px black;
	border-radius: 50%;
	background: white;
	opacity: 92%;
	transition: transform 200ms linear;
}

.popped {
	transform: scale(0.15);
}

@keyframes rise {
	from {
		top: 400px;
	}
	to {
		top: 0px;
	}
}

.bubble-text {
	width: auto;
	height: auto;
	display: inline-block;
}

.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 99;
	width: 276px;
	height: 210px;
	border: solid 2px black;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.85);
	background-color: white;
}

.hidden {
	display: none;
}

.paused {
	animation-play-state: paused;
}
